.gridNormalContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.gridHardContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.card {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  transition: transform 0.3s;
  color: blue;
}
.cardFlipped {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  transition: transform 0.3s;
  color: rgb(189, 70, 11);
}

.flipped {
  color: rgb(221, 108, 9);
  transform: rotateY(180deg);
}

.buttonWrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  min-width: 300px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.modalContent {
  margin-top: 0;
  color: #333;
}

button {
  background: #393386;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 0;
}

.modalContent button:hover {
  background: #2f296e;
}
.welcomeMessage {
  text-align: center;
}
