@use '../styles/index' as *;

.buttonWrapper {
  @include flex-center;

  gap: 1rem;

  button {
    @include flex-center;
    width: 120px;

    &.active {
      background: $secondary;
      box-shadow: $shadow-md;
    }
  }
}
