@use '../../../styles/variables.scss' as *;

.sudokuInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0.5rem 0;

  animation: slideIn 0.5s ease;
  h3 {
    margin: 0;
    color: $text-dark;
    text-shadow: $shadow-lg;
  }
}
