@use '../../styles/index.scss' as *;
@use 'sass:color';
.container {
  @include respond-to(mobile) {
    width: 80%;
  }
}
h1 {
  color: white;
  margin-bottom: 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.sudokuGrid {
  display: grid;
  grid-template-columns: repeat(9, minmax(30px, 70px));
  max-width: 900px;
  border: 3px solid #333;
  background-color: #333;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;

  .cell {
    width: 100%;
    aspect-ratio: 1;
    border: 1px solid #ccc;
    @include flex-center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    color: #2c3e50;
    transition: all 0.2s;
    user-select: none;

    &.isAccentBlock,
    &.isAccentColumn,
    &.isAccentRow {
      background-color: color.scale($primary, $lightness: 80%);
    }

    &:hover:not(.initial, .selected) {
      background-color: #f5f5f5;
    }
    &.selected {
      background-color: $primary;
      border: 2ppx solid $primary-dark;
    }
    &.initial {
      color: #2c3e50;
      cursor: default;
    }
    &.error {
      color: red;
    }

    &.isAccentCell {
      background-color: color.scale($accent, $lightness: 60%);
    }

    span {
      user-select: none;
    }
  }

  .cell:nth-child(9n + 4),
  .cell:nth-child(9n + 7) {
    border-left: 2px solid #333;
  }

  .cell:nth-child(n + 19):nth-child(-n + 27),
  .cell:nth-child(n + 46):nth-child(-n + 54) {
    border-bottom: 2px solid #333;
  }
}
.recordsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0.5rem 0;

  animation: slideIn 0.5s ease;
  h3 {
    margin: 0;
    color: $text-dark;
    text-shadow: $shadow-lg;
  }
}

.mobilePanel {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 500px;
  margin-top: 20px;
  padding: 16px;
  background-color: white;
  border-radius: 12px;
  @media (hover: none) and (pointer: coarse) {
    display: flex;
  }

  @include respond-to(mobile) {
    padding: 5px;
  }

  & button {
    background: none;
    border: none;
    animation: none;
    color: #2c3e50;
    font-size: 20px;
  }
  .numberPad {
    display: grid;
    grid-template-columns: repeat(9, minmax(10px, 70px));
    max-width: 900px;
    & button {
      background: none;
      border: none;
      animation: none;
      color: #2c3e50;
      padding: 0;
    }
  }
  .actionButtons {
    display: flex;
    justify-content: space-around;
    & button {
      padding: 0.25rem 0.1rem;
    }
  }
}
